[[#partial "title"]]
  <title>OASIS Claim</title>
[[/partial]]

[[#partial "content"]]
  <h1>[[app.name]] needs some authorizations:</h1>

  <form method="POST" action="[[urls.formAction]]">
    <input type="hidden" name="_utf8" value="&#9731;">
    <input type="hidden" name="client_id" value="[[app.id]]">
    [[#each parameters.scope]]
      <input type="hidden" name="scope" value="[[this]]">
    [[/each]]
    <input type="hidden" name="redirect_uri" value="[[parameters.redirect_uri]]">
    <input type="hidden" name="state" value="[[parameters.state]]">
    <input type="hidden" name="nonce" value="[[parameters.nonce]]">

    <div>
      <p>
        [[app.name]] wants to :
      </p>
      <ul>
        [[#each scopes.requiredScopes]]
          <input type="hidden" name="selected_scope" value="[[id]]">
          <dl>
            <dt>[[#if title]][[title]][[else]][[id]][[/if]]</dt>
            <dd>[[description]]</dd>
          </dl>
        [[/each]]
      </ul>
      <div>
        <a href="[[urls.cancel]]">Cancel</a>
        <button type="submit">Grant it</button>
      </div>
    </div>

    [[#if scopes.optionalScopes]]
      <div>
        <p>
          [[app.name]] may later need to do the following; you can authorize it in advance by checking the boxes:
        </p>
        <ul>
          [[#each scopes.optionalScopes]]
            <input type="checkbox" name="selected_scope" value="[[id]]">
            <dl>
              <dt>[[#if title]][[title]][[else]][[id]][[/if]]</dt>
              <dd>[[description]]</dd>
            </dl>
          [[/each]]
        </ul>
      </div>
    [[/if]]

    [[#if scopes.authorizedScopes]]
      <div>
        <p>
          You have already authorized [[app.name]] to :
        </p>
        <ul>
          [[#each scopes.authorizedScopes]]
            <dl>
              <dt>[[#if title]][[title]][[else]][[id]][[/if]]</dt>
              <dd>[[description]]</dd>
            </dl>
          [[/each]]
        </ul>
      </div>
    [[/if]]
  </form>
[[/partial]]

[[! FIXME: Make the path less verbose]]
[[> oasis/web/Base.html]]
