[[#partial "title"]]
  <title>Oasis - Login</title>
[[/partial]]

[[#partial "content"]]
  <h1>Login to OASIS</h1>
  <form method="POST" action="[[formAction]]">
    <input type="hidden" name="_utf8" value="&#9731;" />
    <input type="hidden" name="continue" value="[[continue]]" />

    <p>
      Enter an email and a password :
      <input type="email" name="u" placeholder="Email address" />
      <input type="password" name="pwd" placeholder="Password" />
      <button type="submit">Sign in</button>
    </p>
  </form>

  [[#if errorMessage]]
    <p style="color:red">
      [[errorMessage]]
    </p>
  [[/if]]
[[/partial]]

[[! FIXME: Make the path less verbose]]
[[> oasis/web/Base.html]]
