<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>OASIS Login</title>
</head>
<body>
<h1>Login to OASIS</h1>
<form method=POST action={{formAction}}>
<input type=hidden name=_utf8 value="&#9731;">
<input type=hidden name=continue value={{continue}}>
<p>
In this early prototype, just enter an email address (no sign-up, no authentication):
<input type=email name=u>
<button type=submit>Sign in</button>
</p>
</form>