[[#partial "title"]]
  <title>Oasis - Login</title>
[[/partial]]

[[#partial "content"]]
<div class="container">
  <h1>Login to OASIS</h1>

  <form method="POST" action="[[formAction]]" class="form-horizontal">
    <input type="hidden" name="_utf8" value="&#9731;">
    <input type="hidden" name="continue" value="[[continue]]">
    [[#if cancel]]
    <input type="hidden" name="cancel" value="[[cancel]]">
    [[/if]]

    <div class="form-group">
      <label for="emailInput" class="col-sm-2 control-label">Email address</label>

      <div class="col-sm-10">
        <input type="email" id="emailInput" class="form-control" name="u" autofocus>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordInput" class="col-sm-2 control-label">Password</label>

      <div class="col-sm-10">
        <input type="password" id="passwordInput" class="form-control" name="pwd">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
        [[#if cancel]]
        <a href="[[cancel]]">Cancel</a>
        [[/if]]
      </div>
    </div>
    </p>
  </form>

  [[#if errorMessage]]
  <p class="alert alert-danger">
    [[errorMessage]]
  </p>
  [[/if]]
</div>
[[/partial]]

[[! FIXME: Make the path less verbose]]
[[> oasis/web/Base.html]]
