[[#partial "title"]]
  <title>Oasis - Logout</title>
[[/partial]]

[[#partial "content"]]
<div class="container">
  <h1>OASIS</h1>

  [[#if app]]
  <p>You've signed out of <b>[[app.name]]</b></p>
  [[#if continue]]
  <p>If you signed out by mistake, you can <a href="[[continue]]">go back to <b>[[app.name]]</b></a> to log back in.</p>
  [[/if]]
  [[/if]]

  <h2>Sign-out from Oasis</h2>
  <p>Do you want to sign out from Oasis?
     This will sign you out from all the applications you signed in with your Oasis account during this session.
  </p>
  [[! TODO: list those applications ]]
  <form method="POST" action="[[formAction]]">
    <input type="hidden" name="_utf8" value="&#9731;">
    [[#if continue]]
    <input type="hidden" name="continue" value="[[continue]]">
    [[/if]]
    <button type="submit" class="btn btn-primary btn-lg center-block">Sign out</button>
  </form>
</div>
[[/partial]]

[[! FIXME: Make the path less verbose]]
[[> oasis/web/Base.html]]
