[[#partial "title"]]
<title>Oasis - Profile</title>
[[/partial]]

[[#partial "controllers"]]
<script src="/js/controllers/profile-ctrl.js"></script>
[[/partial]]

[[#partial "content"]]
<div class="container" ng-controller="ProfileCtrl">
  <h1>Profile of [[email]]</h1>

  <form class="form-horizontal">
    <fieldset name="User information">
      <legend>User information</legend>
      <!-- Name -->
      <div class="form-group">
        <label for="nameInput" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="nameInput" ng-model="userInfo.name">
        </div>
      </div>
      <!-- GivenName -->
      <div class="form-group">
        <label for="givenNameInput" class="col-sm-2 control-label">Given name</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="givenNameInput" ng-model="userInfo.givenName">
        </div>
      </div>
      <!-- MiddleName -->
      <div class="form-group">
        <label for="middleNameInput" class="col-sm-2 control-label">Middle name</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="middleNameInput" ng-model="userInfo.middleName">
        </div>
      </div>
      <!-- FamilyName -->
      <div class="form-group">
        <label for="familyNameInput" class="col-sm-2 control-label">Family name</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="familyNameInput" ng-model="userInfo.familyName">
        </div>
      </div>
      <!-- Nickname -->
      <div class="form-group">
        <label for="nicknameInput" class="col-sm-2 control-label">Nickname</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="nicknameInput" ng-model="userInfo.nickname">
        </div>
      </div>
      <!-- Gender -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>

        <div class="col-sm-10">
          <label class="radio-inline">
            <input type="radio" id="femaleInput" value="female" ng-model="userInfo.gender"> Female
          </label>
          <label class="radio-inline">
            <input type="radio" id="maleInput" value="male" ng-model="userInfo.gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" id="unknownGenderInput" value="" ng-model="userInfo.gender"> Private
          </label>
        </div>
      </div>
      <!-- Birthdate -->
      <div class="form-group">
        <label for="birthdateInput" class="col-sm-2 control-label">Birthdate</label>

        <div class="col-sm-10">
          [[! XXX: Use a date picker ? ]]
          <input type="date" class="form-control" id="birthdateInput" placeholder="yyyy-mm-dd" ng-model="userInfo.birthdate">
        </div>
      </div>
      <!-- Phone number -->
      <div class="form-group">
        <label for="phoneNumberInput" class="col-sm-2 control-label">Phone number</label>

        <div class="col-sm-10">
          <input type="tel" class="form-control" id="phoneNumberInput" ng-model="userInfo.phoneNumber">
        </div>
      </div>
    </fieldset>

    <!-- Address -->
    <fieldset name="Address">
      <legend>Address</legend>
      <!-- Street address -->
      <div class="form-group">
        <label for="streetAddressInput" class="col-sm-2 control-label">Street address</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="streetAddressInput" ng-model="userInfo.address.streetAddress">
        </div>
      </div>

      <!-- Locality -->
      <div class="form-group">
        <label for="localityInput" class="col-sm-2 control-label">Locality</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="localityInput" ng-model="userInfo.address.locality">
        </div>
      </div>

      <!-- Region -->
      <div class="form-group">
        <label for="regionInput" class="col-sm-2 control-label">Region</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="regionInput" ng-model="userInfo.address.region">
        </div>
      </div>

      <!-- Postal code -->
      <div class="form-group">
        <label for="postalCodeInput" class="col-sm-2 control-label">Postal code</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="postalCodeInput" ng-model="userInfo.address.postalCode">
        </div>
      </div>

      <!-- Country -->
      <div class="form-group">
        <label for="countryInput" class="col-sm-2 control-label">Country</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="countryInput" ng-model="userInfo.address.country">
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
      <div class="alert alert-success" ng-show="successMessage">{{successMessage}}</div>
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" ng-click="save()" ng-disabled="processing">Save</button>
        <button type="button" class="btn btn-link" ng-click="init()">Reset</button>
      </div>
    </div>
  </form>
</div>
[[/partial]]

[[! FIXME: Make the path less verbose]]
[[> oasis/web/Base.html]]
