<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" shutdownHook="disable">
  <Appenders>
    <Async name="AsyncLogFile">
      <AppenderRef ref="LogFile" />
    </Async>
    <RollingFile name="LogFile"
      fileName="${env:LOG_DIR}/oasis.log"
      filePattern="${env:LOG_DIR}/oasis-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>

    <Async name="AsyncAuditLog">
      <AppenderRef ref="AuditLogFile" />
      <AppenderRef ref="Logstash" />
    </Async>
    <RollingFile name="AuditLogFile"
      fileName="${env:LOG_DIR}/oasis-audit.log"
      filePattern="${env:LOG_DIR}/oasis-audit-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout>
        <Pattern>%m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingFile>
    <Socket name="Logstash"
      host="localhost" port="11111"
      reconnectDelayMillis="30000">
      <PatternLayout>
        <Pattern>%m%n</Pattern>
      </PatternLayout>
    </Socket>
  </Appenders>
  <Loggers>
    <AsyncLogger name="OASIS_AUDIT_LOGGER" level="ALL" additivity="false">
      <AppenderRef ref="AsyncAuditLog" />
    </AsyncLogger>
    <Root level="info">
      <AppenderRef ref="AsyncLogFile" />
    </Root>
  </Loggers>
</Configuration>
