<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  [[#block "title"]]
    <title>Oasis</title>
  [[/block]]
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  [[#block "content"]]
  [[/block]]
</body>
</html>
